# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.venv/
venv/
env/

# Distribution / packaging
build/
dist/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
